# Data directory
Data/CMS-hh/drive-download-20231006T131216Z-001
Data/CMS-hh/drive-download-20231006T131216Z-001.zip

# Old code
Code/OLD/

# Jupyter checkpoints
Code/.ipynb_checkpoints/


# Manuscript directory
Manuscript/

Readings/

# Old output
Output/OLD